


.wrap
{
  background: green;
  margin:auto;
  width:600px;
  height:600px;

  position:absolute;
  left:200px;



}

.box{

  width:400px;
  height:400px;
  background: red;
  position:absolute;
  top:100px;
  left:100px;

}
